/* trabalhando página inicial */


#inicio body {
    background-color:green; 
    font-family: Arial, Helvetica, sans-serif;
}

#inicio h1, h2 {
    text-align: center;
    color: rgb(165, 97, 42);
    font-size: 2.8em;
}

#inicio p{
    height: 4px;
    font-size: 1.2em;
}

/* |||  ||||||||  ||||||||  |||| */



main {
    background-color: rgb(186, 191, 196);  
    width: 500px; border-radius: 5px;  
    margin-left: auto; 
    margin-right: auto;
}

table {
    margin-left: auto; 
    margin-right: auto; 
    border: 1px solid black; 
    height: 40px; 
    width: 400px;
    border-collapse: collapse;
}

body {
    background-color: rgb(94, 111, 158); 
    font-family: Arial, Helvetica, sans-serif;
}

tr, td{
    border: 1.5px solid rgb(0, 0, 0); 
    line-height: 3em;
}

h1 {
    text-align: center;
}

/*  */